@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header{
    width: 100%;
    height: 70px;
}

.bg-ville{
  background-image: url(/images/ville.jpg);
}

.bg-ville-blur{
  background-image: url(/images/ville-bg-blur2.jpg);
  background-size: cover;
}

.bg-ville-2{
  background-image: url(/images/ville-bg-blur.jpg);
  background-size: cover;
}

h1, .h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.amber{
  background-color: #fef3c7;
}

.card-container{
  max-width: 400px;
}

.allcard-container{
  max-width: 1300px;
  margin: 100px auto;
}

.box-shadow{
  box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.8);
}

.img{
  max-width: 100%;
  max-height: 400px;
}

.rounded-img{
  object-fit: cover;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.input-desc{
  width: 400px;
}

.bg-blue-op{
  background-color: rgba(239, 246, 255,0.6);
}

.fixed-msg{
  visibility: hidden;
  position: fixed;
}

.hidden{
  display: none;
}

.confirmation-delete{
  display: none;
}

.inner-shadow{
  box-shadow: inset -1px -1px 5px rgba(0, 47, 255, 0.5);
}
